<h3 class="text-center">Listado de productos</h3>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="/" class="btn btn-primary" role="button">Ir a la carga</a>
</div>
<br />
{{#if noVacio}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each productos}}
    <tr>
      <td>{{title}}</td>
      <td>{{price}}</td>
      <td><img src="{{thumbnail}}" title="{{title }}" /></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="alert alert-secondary" role="alert">No hay productos</div>
{{/if}}